<div id="nav">
	<!-- <a href="#"><h1>Sign in</h1></a> -->
	<!-- <a href="#"><h1>Create Account</h1></a> -->
	<ul>
		<li><%= link_to "Sign in", new_user_path %></li>
		<li><%= link_to "Create Account", new_user_path %></li>
	</ul>
</div>