body {
	background-image: url(http://p1.pichost.me/i/41/1647781.jpg);
	background-position: center top;
	background-size: 100% auto;
	background-repeat: no-repeat;
	/*background-attachment:fixed;*/
}
/*
margin: 25px 50px 75px 100px;
top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px
*/

/* Navigation on homepage */
#nav {
	color: #fff;
	text-align: center;
	margin: 10% 0 0 40%;
	width: 20%;
	opacity: 0.6;
}

	#nav ul {
		padding: 10px;
	}
	
		#nav li {
			/*border: solid white;*/
			background-color: #493D26;
			padding: 10px;
			font-size: 25px;
			list-style-type: none;
			margin: 10% 0 0 0;
		}


		#nav li:hover {
			opacity: 0.3;
		}

			#nav a {
				color: white;
				text-decoration: none;
			}

/* Text fields for user account */
.user_form {
	color: #fff;
	width: 40%;
}

	.user_form input {
		padding: 10px 50px 0 0;
	}

.trip_form {
	color: #fff;
	width: 40%;
}

	.trip_form input {
		padding: 10px 50px 0 0;
	}

/* IN APPLICATION HTML ERB FILE */

/*#website {
	margin: 25px 50px 75px 100px;
}*/


/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

